<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>{{currency.name}} Details</title>
     <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!--<script>-->
<!--$(document).ready(function(){-->
    <!--$("button").click(function(){-->
        <!--$("div").toggle();-->
    <!--});-->
<!--});-->
<!--</script>-->
     
</head>
 
<body>
    <div class="container">
        <div id = "toggle">
            <h1>{{currency.name}} Details</h1>

            <table>
                <tr>
                    <th>History minute</th>
                    <th>History hour</th>
                    <th>History Daily</th>
                </tr>
                <tr>
                    <td>
            
            <ul>
                <li>Open: {{currency.cr_open}}</li>
                <li>Close: {{currency.cr_close}}</li>
                <li>High: {{currency.cr_high}}</li>
                <li>Low: {{currency.cr_low}}</li>
            </ul>
                    </td>
                    <td>

            <ul>
                <li>Open: {{currency1.cr_open}}</li>
                <li>Close: {{currency1.cr_close}}</li>
                <li>High: {{currency1.cr_high}}</li>
                <li>Low: {{currency1.cr_low}}</li>
            </ul>
                    </td>
                    <td>

            <ul>
                <li>Open: {{currency2.cr_open}}</li>
                <li>Close: {{currency2.cr_close}}</li>
                <li>High: {{currency2.cr_high}}</li>
                <li>Low: {{currency2.cr_low}}</li>
            </ul>
                    </td>
                </tr>


                </table>
        </div>

        
        <div>
        <form>
        <button id="btn_graph" type="button">Graph</button>
        <button id="btn_history" type="button" onclick="myFunction()">History</button>
        <button id="btn_news" type="submit" value="{{currency.asset_id}}">News</button>
        <button id="btn_market" type="submit" value="{{currency.asset_id}}" >market</button>
        <button id="btn_prediction" type="submit" value="{{currency.asset_id}}">Prediction</button>
        <button id="btn_calculate" type="button">Calculate</button>
        </form>
        </div>
        
    </div>

    <!--<script>-->
<!--function myFunction() {-->
   <!--var element = document.getElementById("toggle");-->
   <!--element.toggle();-->
<!--}-->
<!--</script>-->
    <script>
function myFunction() {
    var x = document.getElementById("toggle");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
</script>
    
    <script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <script>window.jQuery || document.write('<script src="{{
  url_for('static', filename='jquery-3.3.1.js') }}">\x3C/script>')</script>
    <script>
      //News
  $(function() {
    $('#btn_news').bind('click', function() {
      $.getJSON($SCRIPT_ROOT + '/news', {
        asset_id: $('#btn_news').val()
      }, function(data) {
           if( data[0].status =="success"){
               if(data[1].status=="ok"){
                   console.log(data[1].articles)
               }
               
           }else{
           alert("Oops! Something went wrong.");
           }
      });
      return false;
    });
  });
    
    //Market Details
  $(function() {
  asset_id = $('#btn_market').val()
    $('#btn_market').bind('click', function() {
      $.getJSON($SCRIPT_ROOT + '/market_details', {
        asset_id: asset_id
      }, function(data) {
           if( data[0].status =="success"){
           display = data[1].DISPLAY
           console.log(display[asset_id].USD)
               //console.log(data[1].DISPLAY.$('#btn_market').val().USD)
           }else{
           alert("Oops! Something went wrong.");
           }
      });
      return false;
    });
  });

//Prediction
 $(function() {
    $('#btn_prediction').bind('click', function() {
      $.getJSON($SCRIPT_ROOT + '/prediction', {
        asset_id: $('#btn_prediction').val()
      }, function(data) {
           console.log(data)
      });
      return false;
    });
  });
     </script>

   </body>
</html>
